**/node_modules
**/oh_modules
/local.properties
**/.idea
**/build
**/.hvigor
.cxx
/.clangd
/.clang-format
/.clang-tidy
**/.test
/.appanalyzer
/.workbuddy

# Local signing materials
**/*.p12
**/*.pfx
**/*.p7b
**/*.cer
**/*.keystore
**/*.jks
**/*.key
